# Node
node_modules/
**/node_modules/

# Python
__pycache__/
*.pyc

# Environment variables
.env
.env.*
backend/.env
my-ai-ui/.env
python-ai/.env

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
